<%= form_for([@post, @post.comments.build]) do |form| %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, :class=>'form-control' %>
  </div>

  <div class="actions btn btn-secondary">
    <%= form.submit %>
  </div>
<% end %>
