/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

 @import "bootstrap";
 @import url('https://fonts.googleapis.com/css2?family=Kufam&display=swap');

//------------------------Base styles ----------------------------//

 body {
   margin-top: 20px;
   background: linear-gradient(90deg, #55b9f3 0%, #489dcf 56%, #62d5ff 100%);
   font-family: 'Kufam', cursive !important;
   // color: white !important;
}

a {
   color: white !important;
}

.card-link {
   color: black;
}

a:hover {
   text-decoration: none !important;
   background-color: rgba(255, 255, 255, 0);
}

.narrow-form {
   width: 50vw;
   margin: 0 auto;
   margin-top: 20px !important;
}
// -----------------------Feed styles-------------------------//

.feed {
   flex: 0.4;
   min-width: fit-content;
 }

.post-image {
   border-radius: 10%;
   align-self: center;
   background: #55b9f3;
   box-shadow:  11px -11px 55px #2b5e7c,-11px 11px 55px #7fffff;
   width: 10vw; 
 }
 
.creation {
   margin-bottom: 10px;
}

.post {
    display: flex;
    align-items: flex-start;
    padding-bottom: 10px;
  }

.avatar {
   width: 10vw;
   border-radius: 63%;
}

.logo {
   border-radius: 9%;
   background: #55b9f3;
   box-shadow:  11px -11px 55px #2b5e7c,-11px 11px 55px #7fffff;
   width: 35%;
 }

// ----------------------------Navbar styles-------------------------//


nav a {
   color: white !important;
}

 nav a:hover {
    background-color: rgba(255, 255, 255, 0);
    text-decoration: none;
 }

nav li {
   list-style-type: none;
   display: inline !important;
   color: white;
}


nav {
   border-right: 1px solid;
   flex: 0.3;  /* uses 30  percent of the webpage */

   /* min-width: 250px; */
   margin-top: 20px;
   padding-left: 20px;
   padding-right: 20px;    
}

form.button_to {
   width: 80px;
}

table.newsfeed {
  margin: 0 auto;
}

.newsfeed th.name {
  width: 20vw;
}

td {
  margin-right: 50px;
  margin-left: 50px;
}

.users_show_left, .users_show_right {
  display: inline-block;
//   border: 1px solid red;
  width: 30vw;
  height: 100vh;
}
