/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   background: linear-gradient(90deg, #55b9f3 0%, #489dcf 56%, #62d5ff 100%);
   color: black;
}

a {
   color: white !important;
}

a:hover {
   text-decoration: none !important;
   background-color: rgba(255, 255, 255, 0);
}

nav a {
   color: white !important;
}

 nav a:hover {
    background-color: rgba(255, 255, 255, 0);
    text-decoration: none;
 }

nav li {
   list-style-type: none;
}

form.button_to {
  width: 80px;
}

nav {
   display: flex;
}

img {
  border-radius: 50px;
  background: #55b9f3;
  box-shadow:  11px -11px 55px #2b5e7c,-11px 11px 55px #7fffff;
  margin-top: 50px;
}

table.newsfeed {
  margin: 0 auto;
}

.newsfeed th.name {
  width: 20vw;
}

td {
  margin-right: 50px;
  margin-left: 50px;
}
