// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form {
    display: flex !important;
    flex-direction: column;
}

input {
    padding: 10px;
    justify-self: self-end;
    border-radius: 90;
}
